#first_picture
{
    height: 200px;
    width: 356px;
}

#second_picture
{
    height: 356px;
    width: 320px;
}

#third_picture
{
    height: 354px;
    width: 550px;
}

#fourth_picture
{
    height: 366px;
    width: 300px;
}